<!-- Aquest fitxer conte la vista d'estructura HTML i bindings--> ->
<p>tarjeta works!</p>
<!--
<div class="tarjeta">
    <h2>{{nom}}</h2>
    <p> Preu: {{preu}}</p>
    <p> Estoc: {{estoc}} unitats</p>
    <p> Preu amb iva (21%): {{preu * 1.21}}</p>
    <p> {{estoc > 0 ? 'Disponible': 'Esgotat'}}</p>
    <p> Nom en majúscules: {{nom.toUpperCase()}}</p>
</div>
-->

<div class="tarjeta">
    <h2> {{producte.nom}}</h2>
    <p class="categoria"> {{producte.categoria}} </p>
    <p class="preu"> {{producte.preu}} € (+IVA) {{preuAmbIva}}</p>
    <p class="estoc"> {{estatDisponibilitat}}</p>
</div>